<header class="os-header">
  <div class="container flex-space-btw">
    <div class="os-header__hi">
      <span *ngIf="hi">
        <span style="color: #114995">{{ hiCount }}</span> HI's
      </span>
      <span (click)="sayHi()" *ngIf="!hi">Hi</span> 👋
    </div>
    <nav
      class="os-header__navigation flex-center"
      [ngClass]="{ 'os-header__navigation__visible': isNavigationOpen }"
    >
      <div class="os-header__navigation__item" routerLink="/works">WORKS</div>
      <div class="os-header__navigation__item" routerLink="/services">
        SERVICES
      </div>
      <div class="os-header__navigation__item" routerLink="/">
        <img src="../../../assets/img/logo-dark.png" alt="" />
      </div>
      <div class="os-header__navigation__item" routerLink="/people">PEOPLE</div>
      <div class="os-header__navigation__item" routerLink="/contact">
        CONTACT
      </div>
    </nav>
    <img
      src="../../../assets/img/logo-dark.png"
      alt=""
      class="os-header__logo__hidden"
    />
    <ul class="os-header__socials flex-center">
      <li class="os-header__socials__item">
        <a href="{{ socials.facebook }}" target="_blank">
          <img src="../../../assets/img/social-f.svg" alt="" />
        </a>
      </li>
      <li class="os-header__socials__item">
        <a href="{{ socials.instagram }}" target="_blank">
          <img src="../../../assets/img/social-i.svg" alt="" />
        </a>
      </li>
      <li class="os-header__socials__item">
        <a href="{{ socials.vimeo }}" target="_blank">
          <img src="../../../assets/img/social-v.svg" alt="" />
        </a>
      </li>
    </ul>
    <div
      class="os-header__burger relative"
      (click)="toggleNavigation()"
      [ngClass]="{ 'os-header__burger__expanded': isNavigationOpen }"
    >
      <div class="os-header__burger__item absolute"></div>
      <div class="os-header__burger__item absolute"></div>
      <div class="os-header__burger__item absolute"></div>
    </div>
  </div>
</header>
