<header class="os-header">
  <div class="container flex-space-btw">
    <div class="os-header__hi">Hi 👋</div>
    <nav class="os-header__navigation flex-center">
      <div class="os-header__navigation__item" routerLink="/works">WORKS</div>
      <div class="os-header__navigation__item">SERVICES</div>
      <div class="os-header__navigation__item" routerLink="/">
        <img src="../../../assets/img/logo-dark.png" alt="" />
      </div>
      <div class="os-header__navigation__item">PEOPLE</div>
      <div class="os-header__navigation__item">CONTACT</div>
    </nav>
    <ul class="os-header__socials flex-center">
      <li class="os-header__socials__item">
        <img src="../../../assets/img/social-f.svg" alt="" />
      </li>
      <li class="os-header__socials__item">
        <h1>
          <img src="../../../assets/img/social-i.svg" alt="" />
        </h1>
      </li>
      <li class="os-header__socials__item">
        <img src="../../../assets/img/social-v.svg" alt="" />
      </li>
    </ul>
  </div>
</header>
