<section class="os-works {{ theme }}">
  <div class="container">
    <h2 class="os-works__title">Works</h2>
    <ul class="os-works__list flex-space-btw">
      <ng-container *ngFor="let work of works">
        <li
          class="os-works__item {{ work.resolution }}"
          routerLink="/works/detailed/{{ work.id }}"
        >
          <!-- <img src="{{ work.image }}" alt="" /> -->
          <div class="img" [ngStyle]="{'background-image': 'url(' + work.image + ')'}"></div>
          <p>{{ work.title }}</p>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
