<section class="os-contact">
  <div class="container os-contact__container flex-space-btw">
    <div class="os-contact__wrapper">
      <form
        [formGroup]="contactForm"
        (submit)="onContactSubmit()"
        class="os-contact__form flex-space-btw"
      >
        <div class="os-contact__form__wrapper">
          <label for="projectName" class="os-contact__label"
            >Project name</label
          >
          <input
            type="text"
            formControlName="projectName"
            class="os-contact__input"
            id="projectName"
            [ngClass]="{
              'os-contact__input__error':
                contactForm.controls.projectName.touched &&
                contactForm.controls.projectName.errors
            }"
          />
        </div>
        <div class="os-contact__tabs">
          <label class="os-contact__label">Services</label>
          <ul class="os-contact__tabs__list flex-center">
            <li
              class="os-contact__tabs__list__item"
              (click)="onTabSelect(services.includes(service), service)"
              *ngFor="let service of unselectedServices"
              [ngClass]="{
                'os-contact__tabs__list__item__selected': services.includes(
                  service
                )
              }"
            >
              {{ service }}
            </li>
          </ul>
          <div
            class="os-contact__tabs__error"
            [ngClass]="{ 'os-contact__tabs__error__visible': !services.length }"
          >
            * tab selection is required
          </div>
        </div>
        <div class="os-contact__form__wrapper">
          <label for="companyName" class="os-contact__label"
            >Company Name</label
          >
          <input
            type="text"
            formControlName="companyName"
            class="os-contact__input"
            id="companyName"
            [ngClass]="{
              'os-contact__input__error':
                contactForm.controls.companyName.touched &&
                contactForm.controls.companyName.errors
            }"
          />
        </div>
        <div class="os-contact__form__wrapper">
          <label for="fullName" class="os-contact__label">FULL Name</label>
          <input
            type="text"
            formControlName="fullName"
            class="os-contact__input"
            id="fullName"
            [ngClass]="{
              'os-contact__input__error':
                contactForm.controls.fullName.touched &&
                contactForm.controls.fullName.errors
            }"
          />
        </div>
        <div class="os-contact__form__wrapper">
          <label for="email" class="os-contact__label">Your Email</label>
          <input
            type="text"
            formControlName="email"
            class="os-contact__input"
            id="email"
            [ngClass]="{
              'os-contact__input__error':
                contactForm.controls.email.touched &&
                contactForm.controls.email.errors
            }"
          />
        </div>
        <div class="os-contact__form__wrapper">
          <label for="phone" class="os-contact__label">Phone</label>
          <input
            type="number"
            formControlName="phone"
            class="os-contact__input"
            id="phone"
            [ngClass]="{
              'os-contact__input__error':
                contactForm.controls.phone.touched &&
                contactForm.controls.phone.errors
            }"
          />
        </div>
        <div class="os-contact__submit flex">
          <button
            [ngClass]="{ disabled: !services.length || contactForm.invalid }"
            type="submit"
          >
            Send
          </button>
        </div>
      </form>
      <div
        class="os-contact__slider relative"
        (swipeleft)="next()"
        (swiperight)="prev()"
      >
        <h5 class="os-contact__slider__title">EXPLORE TBILISI</h5>
        <div class="os-contact__slider__wrapper absolute flex">
          <div
            class="os-contact__slider__slide"
            [ngClass]="{ visible: i == activeSlideIndex }"
            *ngFor="let slide of slider; let i = index"
          >
            <img src="{{ slide.image }}" alt="" />
            <span> // {{ slide.text }}</span>
          </div>
          <div
            class="os-contact__slider__arrow absolute left"
            (click)="prev()"
          ></div>
          <div
            class="os-contact__slider__arrow absolute right"
            (click)="next()"
          ></div>
        </div>
      </div>
    </div>
    <div class="os-contact__wrapper">
      <h2 class="os-contact__title">Want to share some?</h2>
      <p class="os-contact__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>

      <div class="os-contact__info flex-center">
        <div class="os-contact__info__wrapper address">
          <span class="os-contact__text bold">Address</span>
          <span class="os-contact__text"
            >Keas 69 Str. 15234, <br />
            Chalandri Athens, <br />
            Greece</span
          >
        </div>
        <div class="os-contact__info__wrapper phone">
          <span class="os-contact__text bold">Phone</span>
          <span class="os-contact__text"
            >+30-2106019311 (landline)<br />
            +30-6977664062 (mobile phone) <br />
            +30-2106398905 (fax)</span
          >
        </div>
      </div>
      <img
        class="os-contact__cover"
        src="../../assets/img/contact-cover.png"
        alt=""
      />
    </div>
  </div>
</section>
