<section class="os-banner">
  <div class="container">
    <div
      class="os-banner__img"
      [ngStyle]="{ 'background-image': 'url(' + banner.image + ')' }"
    ></div>
    <div class="os-banner__content flex-space-btw">
      <div class="os-banner__wrapper">
        <h3 class="os-banner__title large">
          <span routerLink="{{ '/works/detailed/' + banner.banner_id }}">{{
            banner.title
          }}</span>
        </h3>
        <p class="os-banner__text">
          {{ banner.text }}
        </p>
      </div>
      <h5 class="os-banner__title small">
        <ng-container *ngFor="let category of banner.category; let i = index">
          <ng-container *ngIf="i">, </ng-container>
          {{ category }}
        </ng-container>
      </h5>
    </div>
  </div>
</section>
