<section class="os-banner">
  <div class="container">
    <div class="os-banner__img"></div>
    <div class="os-banner__content flex-space-btw">
      <div class="os-banner__wrapper">
        <h3 class="os-banner__title large">Resort Kokhta-Mitarbi</h3>
        <p class="os-banner__text">
          Kokhta-Mitarbi is a resort with the unique natural and climatic
          conditions. This area attracts the visitors during all four seasons
          and is a perfect place for family vacations, hiking, and skiing. The
          Project itself includes the construction of international standard
          hotels and residential apartments.
        </p>
      </div>
      <h5 class="os-banner__title small">
        Brand Identity, Industrial/Product Design
      </h5>
    </div>
  </div>
</section>
