<section class="os-works">
  <div class="container">
    <div class="os-works__content flex-space-btw">
      <div class="os-works__wrapper">
        <h3 class="os-works__title large">{{ project.title }}</h3>
        <p class="os-works__text">
          {{ project.description }}
        </p>
      </div>
      <h5 class="os-works__title small">
        Brand Identity, Industrial/Product Design
      </h5>
    </div>
    <ul class="os-works__list flex-space-btw">
      <li
        *ngFor="let work of project.data"
        class="os-works__list__item  {{ work.resolution }}"
      >
        <img src="{{ work.image }}" alt="" *ngIf="work.image" />
        <video *ngIf="work.video" controls>
          <source src="{{ work.video }}" />
        </video>
        <p
          *ngIf="work.title"
          class="os-works__list__text {{ work.title.type }}"
        >
          {{ work.title.text }}
        </p>
      </li>
    </ul>
    <div
      *ngIf="project.next"
      class="os-works__next"
      routerLink="/works/detailed/{{ project.next }}"
    >
      NEXT PROJECT
    </div>
  </div>
</section>
