.os {
  &-works {
    width: 100%;
    padding-bottom: 50px;

    &__content {
      width: 100%;
      align-items: flex-start;
      padding: 38px 0;
    }

    &__wrapper {
      max-width: 805px;
      width: 100%;
    }

    &__title {
      color: #000000;
      font-weight: bold;

      &.large {
        font-size: 4.4rem;
        line-height: 5.5rem;
      }

      &.small {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 3rem;
    }

    &__list {
      width: 100%;
      flex-wrap: wrap;

      &__item {
        padding-bottom: 50px;

        &.large {
          width: 100%;
        }

        &.small {
          width: 49%;
        }

        & img {
          width: 100%;
          height: auto;
        }

        & video {
          width: 100%;
          height: auto;
          max-height: 100vh;
        }

        & p {
          max-width: 50%;
          padding-top: 30px;

          &.bold {
            font-weight: bold;
            font-size: 3.4rem;
            line-height: 4.5rem;
            color: #000000;
          }

          &.light {
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 3rem;
            color: #707070;
          }
        }
      }
    }

    &__next {
      cursor: pointer;
      font-weight: 300;
      color: #000000;
      font-size: 1.6rem;
      text-align: end;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
