.os {
  &-people {
    width: 100%;
    padding-bottom: 85px;

    &__list {
      width: 100%;
      flex-wrap: wrap;

      &__item {
        width: 513px;
        margin-right: 50px;
        padding-bottom: 65px;

        &:nth-child(3n) {
          margin-right: 0;
        }

        & img {
          width: 100%;
          height: auto;
          padding-bottom: 17px;
        }

        & p {
          line-height: normal;
          font-size: 1.6rem;
          font-weight: 300;
          color: #000000;

          &.full-name {
            line-height: 4.5rem;
            font-size: 3.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
