.os {
  &-people {
    width: 100%;
    padding-bottom: 85px;

    &__list {
      width: 100%;
      flex-wrap: wrap;

      @media screen and (max-width: 1700px) {
        justify-content: space-around;
      }

      &__item {
        width: 513px;
        margin-right: 50px;
        padding-bottom: 65px;

        @media screen and (max-width: 1700px) {
          margin-right: 0;
        }

        @media screen and (max-width: 573px) {
          width: 100%;
        }

        @media screen and (max-width: 450px) {
          padding-bottom: 30px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        & img {
          width: 100%;
          height: auto;
          padding-bottom: 17px;

          @media screen and (max-width: 450px) {
            padding-bottom: 5px;
          }
        }

        & p {
          line-height: normal;
          font-size: 1.6rem;
          font-weight: 300;
          color: #000000;

          &.full-name {
            line-height: 4.5rem;
            font-size: 3.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
