<footer class="os-footer">
  <div class="container">
    <div class="os-footer__top flex-space-btw">
      <h2 class="os-footer__title">
        How can we help ? <br />
        <span>Contact us anytime</span>
      </h2>
      <div class="os-footer__contacts flex-center">
        <div class="os-footer__wrapper">
          <span class="os-footer__label">SEND US MESSAGE:</span>
          <span class="os-footer__info">info@onesoul.io</span>
        </div>
        <div class="os-footer__wrapper">
          <span class="os-footer__label">CALL US:</span>
          <span class="os-footer__info">+995595087073</span>
        </div>
      </div>
    </div>
    <div class="os-footer__bottom flex-space-btw">
      <span class="os-footer__text">© All rights reserved</span>
      <div class="os-footer__terms flex-center">
        <span class="os-footer__text">Terms of Service</span>
        <span class="os-footer__text">Privacy Police</span>
        <span class="os-footer__text">Sitemap</span>
      </div>
      <div class="os-footer__socials">
        <a target="_blank" href="#" class="os-footer__socials__item">
          <img src="../../../assets/img/social-f.svg" alt="" />
        </a>
        <a target="_blank" href="#" class="os-footer__socials__item">
          <img src="../../../assets/img/social-i.svg" alt="" />
        </a>
        <a target="_blank" href="#" class="os-footer__socials__item">
          <img src="../../../assets/img/social-v.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
